/* blog.css */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: var(--accent1-color);
}

/* header {
    background-color: var(--primary-color);
    
    color: white;
    padding: 1em;
    text-align: center;
}  */
 /* nav ul {
    list-style: none;
    padding: 2em;
} */

/* nav ul li {
    display: inline;
    margin: 0 1em;
} */

/* nav ul li a {
    color: white;
    text-decoration: none;
} */

main {
    padding: 2em;
    
}

article {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 1.5em;
    margin-bottom: 1.5em;
    background-color: #f9f9f9;
}

.button {
    display: inline-block;
    margin-top: 1em;
    padding: 0.5em 1em;
    background-color: var(--primary-color);
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.button:hover {
    background-color: var(--secondary-color);
}
@media (min-width: 1024px) {
    .navigation-container {
    max-width: 1200px;
    margin: 0 auto;

    }
    footer {
        max-width: 1160px;
        margin: 0 auto;
    }
}